<% layout("layouts/boilerplate") -%>

<body>
    <h3>Create New Listing : </h3><br>
    <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data" >
        <div class="mb-3">
            <label for="1" class="form-lable">Title</label>
            <input type="text" class="form-control" name="listing[title]" id="1" required>
        </div>
        <div class="mb-3">
            <label for="2" class="form-lable">Description</label>
            <textarea type="text" id="2" class="form-control" name="listing[description]" rows="5" required></textarea>
        </div>
        <!-- <div class="mb-3">
            <label for="3" class="form-lable">Image</label>
            <input type="text" id="3" class="form-control" name="listing[image]" >
        </div> -->
        <div class="mb-3">
            <label for="3" class="form-lable">Upload Image</label>
            <input type="file" id="3" class="form-control" name="listing[image]" >
        </div>
        <div class="mb-3">
            <label for="4" class="form-lable">Price</label>
            <input  id="4" class="form-control" name="listing[price]" required>
        </div>
        <div class="mb-3">
            <label for="5" class="form-lable">Location</label>
            <input type="text" id="5" class="form-control" name="listing[location]" required>
        </div>
        <div class="mb-3">
            <label for="6" class="form-lable">Country</label>
            <input type="text" id="6" class="form-control" name="listing[country]" required>
        </div>
        <button class="btn btn-dark">Add</button>
    </form>
</body>
